

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Order Date</th>
            <th>Product</th>
            <th>STATUS</th>
            <th>TOTAL_VND</th>
            <th>Total_USD</th>
        </tr>
    </thead>
    <tbody>
        <% invoiceList.forEach((invoice)=>{ %>
            <tr>
                <td>
                    <%= invoice.ORDER_DATE %>
                </td>
                <td>
                    <div>
                        <% invoice.LISTPRODUCTID.split(',').forEach((_id)=>{ %>
                            <script src="javascript/handleOnloadPro.ivmanage.js" _id="<%= _id %>"></script>
                            <div id="div_<%=_id %>">

                            </div>
                            <% }) %>
                    </div>
                </td>
                <td>$120.00</td>
                <td>$25.00</td>
                <td>$15.00</td>
            </tr>
            <% })%>
    </tbody>
</table>
